*{
    margin: 0;
}

/* INDEX */

h1{
    text-align: center;
    font-size: 100px;
}

h3{
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.botao{
    width: 600px;
    height: 50px;
    background-color: blueviolet;
    font-size: larger;
    border-radius: 50px;
    font-weight: bold;

}

a{
    text-decoration: none;
    color: white;
}

#btfuncionario{
    width: 500px;
    height: 100px;
    background-color: black;
    text-align: center;
}

#btgerente{
    width: 500px;
    height: 100px;
    text-align: center;
}

#voltar{
    width: 150px;
    height: 40px;
    margin-top: 5px;
    background-color: black;
    font-size: 25px;
    border-radius: 10px;
}

#sino{
    margin-left: 20px;
}

/* INDEX */


/* BARRA DE NAVEGAÇÃO */
.navbar{
    background-color: white;
}


/* BARRA DE NAVEGAÇÃO */




/* MAIN */

main{
    text-align: center;
    height: auto;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 50%;
}
 
@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
 
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

.bemvindo{
    color: blueviolet;
    font-size: 30px;
    margin-bottom: 90px;
}

/* MAIN */




/* FOOTER */

footer{
    background-color: black;
    color: white;
}




/* FOOTER */